<div id="<%= dom_id registry %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= registry.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= registry.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Unique link:</strong>
    <%= registry.unique_link %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= registry.status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= registry.user_id %>
  </p>
</div>
